@charset "utf-8";
* {
	margin: 0;
	padding: 0;
}
a:hover{
	text-decoration: none !important;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
select,
option,
p,
blockquote,
th,
td,
figure,
img {
	margin: 0;
	padding: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
article,
aside,
header,
footer,
figure,
figcaption,
form,
label,
fieldset,
legend,
iframe,
frameset,
frame {
	display: block
}

li {
	list-style: none;
}
/* 文本水平对齐方式 */
.text-left{
  text-align: left;
}
.text-right{
  text-align: right;
}
.text-center{
  text-align: center;
}
/* 文本垂直对齐方式 */
.text-top{
  vertical-align: top;
}
.text-middle{
  vertical-align: middle;
}
.text-bottom{
  vertical-align: bottom;
}
/* 文本大小写 */
.text-upper{
  text-transform: uppercase;
}
.text-lower{
  text-transform: lowercase;
}
.text-cap{
  text-transform: capitalize;
}
/* 文本截断 */
.text-ellipsis{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.text-ellipsis2{
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp:2;
  -webkit-box-orient:vertical;
}
.text-ellipsis3{
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp:3;
  -webkit-box-orient:vertical;
}
/* 文本颜色 */
.text-white{
  color: #fff;
}
.text-black{
  color: #000;
}
.text-active{
  color: #ffe202;
}
.text-dark{
  color: #999;
}
 /* 背景颜色 */
.bg-main{
  background-color: #333;
}
.bg-white{
  background-color: #ccc;
}
.bg-active{
  background-color: #ffe202;
}
/* 字体大小 */
.fs12{
  font-size: 12px;
}
.fs14{
  font-size: 14px;
}
.fs16{
  font-size: 16px;
}
.fs18{
  font-size: 18px;
}
.fs20{
  font-size: 20px;
}
.fs22{
  font-size: 22px;
}
/* 间隙 */
.mb10{
	margin-bottom: 10px !important;
}
.mb15{
	margin-bottom: 15px !important;
}
.mb20{
	margin-bottom: 20px !important;
}
.mb25{
	margin-bottom: 25px !important;
}
.mb30{
	margin-bottom: 30px !important;
}
.mb35{
	margin-bottom: 35px !important;
}
.mb40{
	margin-bottom: 40px !important;
}
.mb45{
	margin-bottom: 45px !important;
}
.mb50{
	margin-bottom: 50px !important;
}

.mt10{
	margin-top: 10px !important;
}
.mt15{
	margin-top: 15px !important;
}
.mt20{
	margin-top: 20px !important;
}
.mt25{
	margin-top: 25px !important;
}
.mt30{
	margin-top: 30px !important;
}
.mt35{
	margin-top: 35px !important;
}
.mt40{
	margin-top: 40px !important;
}
.mt45{
	margin-top: 45px !important;
}
.mt50{
	margin-top: 50px !important;
}
.mlr15{
  margin-left: 30rpx;
  margin-right: 30rpx;
}
.mlr20{
  margin-left: 40rpx;
  margin-right: 40rpx;
}
.mlr25{
  margin-left: 50rpx;
  margin-right: 50rpx;
}
.mlr30{
   margin-left: 60rpx;
   margin-right: 60rpx;
 }
 .mtb15{
  margin-top: 30rpx;
  margin-bottom: 30rpx;
}
.mtb20{
  margin-top: 40rpx;
  margin-bottom: 40rpx;
}
.mtb25{
  margin-top: 50rpx;
  margin-bottom: 50rpx;
}
.mtb30{
   margin-top: 60rpx;
   margin-bottom: 60rpx;
 }
 /* 弹性盒子 */
.flex{
  display: flex;
}
.flex-row{
  flex-direction: row;
}
.flex-column{
  flex-direction: column;
}
/* 弹性盒子左对齐 */
.flex-h-start{
  justify-content: flex-start;
}
/* 弹性盒子居中对齐 */
.flex-h-center{
  justify-content: flex-center;
}
/* 弹性盒子右对齐 */
.flex-h-end{
  justify-content: flex-end;
}
/* 弹性盒子两端对齐 */
.flex-h-between{
  justify-content: flex-between;
}
/* 弹性盒子等间距对齐 */
.flex-h-around{
  justify-content: flex-around;
}
.flex-v-start{
  justify-content: flex-start;
}
.flex-v-center{
  justify-content: flex-center;
}
.flex-v-end{
  justify-content: flex-end;
}
.flex-v-between{
  justify-content: space-between;
}
.flex-v-around{
  justify-content: space-around;
}
/* 不换行 */
.flex-nowrap{
  flex-wrap:nowrap;
}
/* 超出换行 */
.flex-wrap{
  flex-wrap:wrap;
}
/* 元素类型 */
.block{
  display: block;
}
.inline{
  display: inline;
}
.inline-block{
  display: inline-block;
}
/* 元素隐藏 */
.hide{
  display: none;
}
/* 移出隐藏 */
.hidden{
  overflow: hidden;
}
/* 定位 */
.absolute{
  position: absolute;
}
.relative{
  position: relative;
}
.fixed{
  position: fixed;
}